/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFF;
}

/* Sticky Box */
.sticky-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 211px;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 10px;
}

.logo-of-co {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    width: calc(200px / 3 * 2); 
    height: calc(200px / 3 * 2); 
    object-fit: contain; 
    background-color: transparent; 
    border-radius: 0; 
}

.text-logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(200px * 1.5); 
    height: calc(100px * 1.5); 
    object-fit: contain; 
    background-color: transparent; 
    border-radius: 0; 
}

.nav-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 40px;
}

.nav-buttons a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.nav-buttons a:hover {
    background-color: #444;
    transition: background-color 0.3s;
}

/* Main Content */
.content {
    text-decoration: none; 
    color: #DDD; 
    margin-top: 250px;
    padding: 20px;
    text-align: center;
}

.heading {
    font-family: 'Fredericka the Great';
    font-size: 50px;
    margin-bottom: 40px;
}

.flex-container {
    text-decoration: none; 
    color: #DDD; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.flex-container a:hover {
    text-decoration: none; 
    color: #FFF; 
    background-color: #333; 
}

.small-grey-box, .large-grey-box {
    background-color: #252930;
    border-radius: 20px;
    color: #DDD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hi Melody', cursive;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.small-grey-box {
    width: calc(50% - 10px);
    height: 150px;
}

.large-grey-box {
    width: 100%;
    height: 150px;
}

.small-grey-box:hover, .large-grey-box:hover {
    background-color: #333;
}
